@tailwind base;
@tailwind components;
@tailwind utilities;
/* Contents of this file:
  * 1.0 - FONT IMPORTS - our sweet Inter font in weights of 500 and 700
  * 2.0 - BODY TAG - just sets the background color to "dark"
  * 3.0 - TYPOGRAPHY COMPONENTS - classes to be used for all typography in the app
 */
/* ========================================
 * 1.0 - FONT IMPORTS 
 * ======================================= */
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/inter-v12-latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/inter-v12-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/inter-v12-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/inter-v12-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/inter-v12-latin-500.svg#Inter')
      format('svg'); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/inter-v12-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/inter-v12-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/inter-v12-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/inter-v12-latin-700.svg#Inter')
      format('svg'); /* Legacy iOS */
}
/* ========================================
 * 2.0 - BODY TAG
 * ======================================= */
body {
  @apply bg-dark;
}
/* ========================================
 * 3.0 - TYPOGRAPHY COMPONENTS
 * ======================================= */
.typography-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.typography-body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  @apply text-white-dimmed;
}
.typography-primary {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  @apply text-white-dimmed;
}
.typography-secondary {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  @apply text-white-dimmed;
}
.typography-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  @apply text-white-dimmed;
}
/* ========================================
 * end of file
 * ======================================= */
